:root {
    --main-color: #FF8C00;
    --main-bg-color: #2B2B2B;
    --second-bg-color: #333333;
    --bg-color: #3B3B3B;
    --dark-font-color: #212121;
    --middle-font-color: #84B0C1;
    --light-fonf-color: #ddd;


    font-size: 10px;
    font-family: 'Recursive', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr auto 1fr;
    position: relative;
}


/* Header Container Styles */
.header {
    background-color: var(--main-bg-color);
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 4px 4px 6px 0 var(--light-fonf-color);
    position: sticky;
    top: 0;
    /* z-index: 5; */
}

.header > img {
    width: 36px;
}

.header > h1 {
    color: var(--middle-font-color);
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-right: auto;
}

.header > div {
    background-color: var(--middle-font-color);
    color: var(--dark-fonf-color);
    font-size: 3.6rem;
    border: 2px solid var(--middle-font-color);
    border-radius: 50%;
    padding: 0 11px;
    cursor: pointer;
}


/* Categories Container Styles */
.categories-container {
    background-color: var(--second-bg-color);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    box-shadow: 4px 4px 6px 0 var(--light-fonf-color);
    /* z-index: 2; */
}

.categories-container > div {
    background-color: var(--main-bg-color);
    width: 90%;
    padding: 4px 8px;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    border-radius: 2px 8px 2px 8px;
    box-shadow: 4px 4px 6px 0 var(--light-fonf-color);
    color: var(--middle-font-color);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.categories-container img {
    height: 1.8rem;
}


/* Data Container Styles */
.data-container {
    background-color: var(--bg-color);
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.data-container > .sub-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    grid-template-rows: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 25px;
    margin: 30px;
}

.data-container > .sub-container > .card {
    background-color: var(--main-bg-color);
    min-width: 200px;
    height: 250px;
    padding: 15px;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    border-radius: 2px 8px 2px 8px;
    box-shadow: 4px 4px 6px 0 var(--light-fonf-color);
}

.data-container > .sub-container > .card > p {
    color: var(--middle-font-color);
    font-size: 1.4rem;
    height: 25px;
    width: 90%;
    overflow: hidden;
    word-break: break-all;
}

.data-container > .sub-container > .card > p:nth-child(even) {
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    border-radius: 2px 8px 2px 8px;
    box-shadow: 4px 4px 6px 0 var(--light-fonf-color);
    padding: 2px 0 2px;
    margin-bottom: 4px;
    word-break: break-all;
}



/* Form Container Styles */
.form-container {
    background-color: var(--second-bg-color);
    grid-column: 4 / 4;
    grid-row: 2 / 3;
    width: calc(100vw / 3);
    height: 100vh;
    padding: 25px;
    border-left: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 1fr;
    right: 0;
}

.form-container > h2 {
    color: var(--middle-font-color);
    margin-bottom: 25px;
    font-size: 2.4rem;
}

.form-container > #form {
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container .input {
    width: 100%;
}

.form-container .input:last-of-type {
    width: 60%;
    align-self: center;
}

.input > label {
    color: var(--middle-font-color);
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.input > input,
.input > select {
    margin-top: 10px;
    height: 28px;
    width: 100%;
    background-color: var(--dark-font-color);
    color: var(--middle-font-color);
    font-size: 1.5rem;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    border-radius: 2px 8px 2px 8px;
    box-shadow: 4px 4px 6px 0 var(--light-fonf-color);
}

.input > input[type='submit'] {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


/* Footer Container Styles */
.footer {
    background-color: var(--dark-font-color);
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}